@import 'ember-bootstrap/bootstrap';
@import 'treeflex';
$font-stack: Helvetica, sans-serif;

$primary-color: #283e4a;
$primary-background-color: whitesmoke;
$linkedin-blue: rgb(8, 60, 230);
$linkedin-gray: #293e4a;
$linkedin-slate: rgb(92, 111, 124, 0.9);
$linkedin-slate-dark: rgb(92, 111, 124);

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $primary-background-color;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.icon-btn {
  background-color: $linkedin-slate;
  color: $primary-background-color;
  &:hover {
    color: $primary-background-color;
    background-color: $linkedin-slate-dark;
    outline: none !important;
    box-shadow: none;
  }
  &:disabled {
    background-color: $linkedin-slate;
    outline: none !important;
    box-shadow: none;
  }
}

.delete-btn {
  background-color: $linkedin-slate;
  color: $primary-background-color;
  &:hover {
    color: $primary-background-color;
    background-color: $linkedin-slate-dark;
  }
  &:active {
    outline: none !important;
    box-shadow: none;
  }
  &:focus {
    outline: none !important;
    box-shadow: none;
  }
}

.person-chain {
  border-style: solid;
  border-width: 0px 0 0px 3px;
  border-color: rgb(0, 115, 177);
  border-radius: 5px;
}

.header {
  background-color: $primary-color;
  color: $primary-background-color;
}

.menu {
  background-color: $linkedin-gray;
  z-index: 10;
  padding: 5px;
  // color: $primary-background-color;
}

.menu-btn {
  background-color: $linkedin-gray;
  color: $primary-background-color;
  &:hover {
    color: $primary-background-color;
    font-weight: bold;
  }
  &:active {
    font-weight: bold;
    outline: none !important;
    box-shadow: none;
  }
  &:focus {
    font-weight: bold;
    outline: none !important;
    box-shadow: none;
  }
}
.person-input {
  // width: fit-content(100em) !important;
  // text-overflow: initial;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid $linkedin-gray;
}
