<li>
    {{!-- {{#if @shouldRender}} --}}
        <Person @person={{@person}}></Person>
    {{!-- {{/if}} --}}
    {{#if this.reporters}}
        <ul>
        {{#each this.reporters as |reporter|}}
            <PersonChain @person={{reporter}} @shouldRender={{true}}/>
        {{/each}}
        </ul>
    {{/if}}
</li>