<div class="input-group mx-2">
    {{focus-input type="text" class=" form-control" placeholder=@placeholder value=@value disabled=@disabled select=@select}}
    <div class="input-group-append">
        {{yield}}
    </div>
</div>
