<div>
    {{#if @shouldRender}}
        <div>
            <Person @person={{@person}}></Person>
        </div>
    {{/if}}
    <div class="ml-5 pl-2 border-left border-primary">
        {{#each this.reporters as |reporter|}}
            <PersonChain @person={{reporter}} @shouldRender={{true}}/>
        {{/each}}
    </div>
</div>