
<div class="d-flex flex-row justify-content-between">
    <p>
        {{@person.name}}
    </p>
    <div>
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-primary" 
                onclick={{fn this.deletePerson @person}}>Delete</button>
        {{!-- <button
            @text="Click OK to delete your account."
            @onConfirm={{this.deletePerson}}
        /> --}}
    </div>
</div>