{{!-- TODO: Change render peers to notRoot + remove peers --}}

<div>
    {{#if @renderPeers}}
    {{else}}
    <div>
        <Person @person={{@person}}></Person>
    </div>
    {{/if}}
    <div class="ml-5 pl-2 border-left border-primary">
        {{#each this.reporters as |reporter|}}
            <PersonChain @person={{reporter}} @renderPeers={{false}}/>
        {{/each}}
    </div>
</div>