{{!-- The following component displays Ember's default welcome message. --}}
<div class="container m-5 d-flex flex-column justify-content-center align-items-center">
    <h1 class="my-3 text-center">Organization Chart</h1>
    {{outlet}}
</div>
