<div class="d-flex flex-row justify-content-center w-100">
    <div>
        <h3 class="text-center">Direct Reporters</h3>
        <PersonList @directReport={{@model.directReport}} @relationship="dp"/>
    </div>
    <div>
        <h3 class="text-center">Peers</h3>
        <PersonList @directReport={{@model.peer}} @relationship="peer"/>
    </div>
</div>