<div class="m-5 d-flex">
    <PersonChain @person={{@model.root}} @shouldRender={{false}}></PersonChain>
</div>

{{!-- {{#bs-modal-simple title="Confirm Deletion"}}
  Are you sure you want to delete this person? Their reporters will be deleted as well.
{{/bs-modal-simple}} --}}
