<div class="tf-tree example">
    {{!-- <ul> --}}
        <PersonChain @person={{@model.root}} @shouldRender={{false}}></PersonChain>
    {{!-- </ul> --}}
</div>

{{!-- {{#bs-modal-simple title="Confirm Deletion"}}
  Are you sure you want to delete this person? Their reporters will be deleted as well.
{{/bs-modal-simple}} --}}
{{!-- <div class="tf-tree example">
  <ul>
    <li>
      <span class="tf-nc">1</span>
      <ul>
        <li>
          <span class="tf-nc">2</span>
          <ul>
            <li><span class="tf-nc">4</span></li>
            <li>
              <span class="tf-nc">5</span>
              <ul>
                <li><span class="tf-nc">9</span></li>
                <li><span class="tf-nc">10</span></li>
              </ul>
            </li>
            <li><span class="tf-nc">6</span></li>
          </ul>
        </li>
        <li>
          <span class="tf-nc">3</span>
          <ul>
            <li><span class="tf-nc">7</span></li>
            <li><span class="tf-nc">8</span></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div> --}}