    
<div class="body">
    {{!-- List all peers --}}
    <ul class="list-group">
        {{#each @model as |person|}}
        <li class="list-group-item list-group-item-action">
            <Person @person={{person}}/>
        </li>
        {{/each}}
    {{!-- Add new peer --}}
        <li class="list-group-item list-group-item-action">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add a peer" aria-label="Add a peer" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Add</button>
                </div>
            </div>
        </li>
    </ul>
</div>